:root{
    --black:#222222;
    --black2:#434343;
    --black3:#767676;
    --black4:#9F9F9F;
    --green:#009E25;
    --green2:#14AD2E;
    --green3:#48B950;
    --green4:#6DC670;
    --purple:#7B1FA2;
    --white:#FEFEFD;


}

h2{
    font-family: 'Noto Sans kR', sans-serif;
    font-size: 94px;
    font-weight: 900;
    color: var(--green);
    /* margin-top: 200px; */
    padding-top: 200px;
    margin-bottom: 150px;
    text-align: center;
}
/* =============================================== */

.lush-event h2{
    color: var(--purple);

}

.section-inner-container{
    display: flex;
    flex-direction: row;
}


.event-img-container{
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
}

.event-img{
    height: 100vh;
    width: 100%;
    position: absolute;
}

.festa-img{
    background-image: url(../img/festa.svg);
    background-position: center;
    transition: 1s;
}

.move-wrapper{
    display: flex;
    position: absolute;
    right: 10%;
    top: 70%;
    /* transform: translate(410px,600px); */
    letter-spacing: 1.5em;
    /* festa 글씨 위치를 어떻게 줘야할지
    각각 f e s t a 를 absolute해서 줘야할까요
    반응형 크기에 따라 글씨 위치 달라져요 */
}

.move{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 8vw;
    color: var(--white);
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.25);
    
}

.summer-img{
    background-image: url(../img/올여름bacl.svg);
    background-position: left;
    transition: 1s;
    /* event1번과 event2번 이미지 사이에 흰색 줄같은 여백 없애는 방법 */
}

.salty{
    position: absolute;
    width: 59%;
    height: 59%;
    right: 21%;
    top: 14%;
}

.dirty{
    position: absolute;
    width: 52%;
    height: 60%;
    right: 0%;
    top: 31%;

}

.fish1{
    position: absolute;
    width : 20%;
    height : 15%;
    right: 10%;
    top: 13%;
}

.fish2{
    position: absolute;
    width: 20%;
    height: 15%;
    right: 43%;
    top: 78%;

}

.review-back{
    background-image: url(../img/review-back1.svg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;

}

.be-the-best{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 110px;
    width: 600px;

}

.be-the-best div:first-child{
    display: flex;
}

.be-the div{
    width: 290px;
    height: 170px;
    line-height: 170px;
}

.be-the{
    margin-bottom: 23px;
}

.be{
    background-color: #f5c701;
    color: #F53F03;
    margin-right: 20px;
    
}

.the{
    background-color: #0059D7;
    color: #f5a7d2;

}

.be-the-best p{
    text-align: center;
    margin: 0 auto;
}

.best,.reviewer{
    width: 600px;
    height: 170px;
    line-height: 170px;
}

.best{
    background-color: #008A3A;
    color: #F2C801;
    margin-bottom: 23px;
}

.reviewer{
    background-color: #F3A7D8;
    color: #008A3A;
}

.download-back{
    background-image: url(../img/download.svg);
    /* 이미지 보여지는 부분 옮기는거 어떻게 하나요 */
    background-position: left bottom;
    position: relative;
    transition: 1s;
}

.ball-move{
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    top: 40%;
}


.festa-img, .summer-img, .review-back{
    display: none;
}




/* =================text======================== */
.event-title-wrapper{
    width: 394px;
    margin-bottom: 72px;
}

.small-img-wrapper{
    display: flex;
    align-items: center;

}

.small-img-wrapper div{
    margin-right: 50px;
}

.small-img-wrapper img{
    border-radius: 50%;
}

.small-img-wrapper .small-title{
    text-align: center;
    margin-top: 15px;
}

.event-text{
    height: 200vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color: var(--white);
}

.event-text .more-black{
    background-color: var(--black2);
    margin: 0 auto;
}

.event-text-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color: var(--white);
}

.small-title{
    font-family: Noto Sans KR;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 36px;
    color: var(--black2);
 }

 .event-description{
    font-family: Noto Sans KR;
    font-weight: 500;
    font-size: 24px;
    color: var(--black3);
    letter-spacing: -0.03em;
    line-height: 35px;
    margin-bottom: 104px;
 }

 .event-text .more-black{
    background-color: var(--black2);
    margin: 0 auto;
}